*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    
    line-height: 1.5;
}

/* Container mae */
.containerAgenda{
    border: 5px solid black;
    margin: 3%;
}


/* class para deixar o titulo no meio */
.agendaTitulo{
    margin: 10px 0px;
    text-align: center;
}



/* Classe dentro do container mae que dividem o espaço em duas partes */
.agenda{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.agendaNomes{
    overflow-y: scroll;
    height: 480px;
    border-top: 1px solid black;
    width: 25%;

}

.deixarJunto{
    display: flex;
}
.deixarJunto h1{
    font-size: 30px;
    margin-left: 10px;
}

.agendaNomes div{
    margin: 10px 10px 10px 10px;
}

input{
    width: 100%;
    height: 30px;
}

.tituloValorDoTitulo{
    font-size: 40px;
}


.removerButton{
    height: 40px;
    margin-top: 10px;
}

.buttonADD{
    text-align: right;
    padding-right: 10px;
}

.buttonADD button{
    height: 60px;
    width: 60px;
    font-size: 40px;
    border-radius: 100%;
    border:none;
    background-color: white;
}

.buttonADD button:hover{
    background-color: grey;
    transition: 0.3s;
}

#elementContainer div{
    border: 1px solid black;
    padding: 10px;
    margin: 10px
}


.agendaMensagens{
    border: 1px solid black;
    padding: 20px;
    width: 75%;
}


.conteudoMensagens{
    overflow-y: scroll;
    height: 450px;
    text-align: right;

}


/* classes para a parte do novo elemento compromossios*/
.ContAddCompromissoMSG{
    text-align: center;
}

.compromisso{
    border: 1px solid black;
    text-align: left;
    margin: 20px 0px;
    padding: 10px;
}


.compromisso section{
    border: none;
}
.soParaDeirarNaDireita{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.compromisso button{
    margin-top: 20px;
}

.horaData {
    display: flex;
    font-size: 12px;
}
.horaData p{
    margin-right: 10px;
}

.horaDataDoSeuCompromisso{
    display: flex;
}
.horaDataDoSeuCompromisso p{
    margin-right: 10px;
}



@media (max-width: 500px) {
    .agenda{
        display: flex;
        
        flex-direction: column;
    }
    .agendaNomes{
        width: 100%;
    }
    .agendaMensagens{
        width: 90%;
    }
}