<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <!--para deixar resposivel deixa ele ser responsivel dentro do modo inspecionar no navegador-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!--  fontes    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Projeto agenda caseira</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    <!--Isso aqui vai permitir mover os compromissos e nomes-->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>


</head>
<body>
    <article class="containerAgenda">
        <!-- Nome do app -->
        <section class="agendaTitulo">
            <h1>Agenda Caseira </h1>
        </section>
        
        <article class="agenda">
            <!-- seccao onde vai ficar os nomes -->

            <section class="agendaNomes">
                <form action="">

                    <div class="buttonADD">
                        <button type="submit" id="addElementButton">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                    <!--Container usado para carregar os novos elementos criados-->
                    <div id="elementContainer">
                        
                    </div>
                </form>                
            </section>
            
            
            <!-- seccao onde vai ficar os conteudos dos nomes -->
            <section class="agendaMensagens">
                <section class="conteudoMensagens">

                    <h3 style="text-align: center;" class="resultadoInputNomes">conteudo</h3>
                         <!-- Aqui sera add o a agenda-->
                        <section id="newElementNomeToMensagem">
                            
                        </section>
                </section>
            </section>

        </article>
    </article>
    
    <!-- Testando -->

    <script src="../static/js/scripts.js"> </script>
</body>
</html>
